---
import MiFoto from "../../assets/img/MiFoto.png";
---

<!-- Contenedor principal -->
<div
  class="mx-auto mt-20 flex max-w-6xl flex-col items-center gap-8 px-6 lg:flex-row "
>
  <!-- Imagen -->
  <div
    class="border-primary h-64 w-64 overflow-hidden rounded-2xl shadow-lg md:h-96 md:w-96 drop-shadow-[4px_4px_0_#7836cf]"
  >
    <img
      src={MiFoto.src}
      alt="Foto de Lautaro"
      class="h-full w-full object-cover"
    />
  </div>

  <!-- Texto -->
  <div class="flex-1 text-center text-gray-300 lg:text-left">
    <h2 class="text-3xl font-bold text-white">
      My name is <span class="text-white text-shadow">Mohammed Nihad</span>
    </h2>
    <p class="mt-4">
      I'm from <span class="text-primary font-semibold">India</span> and currently
I work as
      <span class="text-primary font-semibold"
        >full-stack software developer</span
      >, with a focus on the <span class="text-primary font-semibold"
        >front-end development</span
      > and the
      <span class="text-primary font-semibold">user experience</span>,
      using technologies such as <span class="text-primary italic"
        >React, Astro, JavaScript, TypeScript, Bootstrap, Tailwind, CSS,
        Node.js, Express.js, MongoDB y MySQL</span
      >.
    </p>
    <p class="mt-2">
      My interest in the <span class="text-primary font-semibold"
        >technology</span
      > and the
      <span class="text-primary font-semibold">programming</span> It arose while
I was taking a course
      <span class="text-primary font-semibold"
        >University Technical Degree in Automation</span
      > In Dubai
      <span class="text-primary font-semibold">Jumeirah</span>. In the class of <span
        class="text-primary font-semibold">informática</span
      > I had my first contact with the world of programming. Motivated by the
      <span class="text-primary font-semibold">curiosity</span>, I continued
studying in a way
      <span class="text-primary font-semibold">autodidact</span>, then in a
      <span class="text-primary font-semibold"
        >Technical degree focused on software development</span
      >, and I decided that this was what I wanted to dedicate myself to at a level <span
        class="text-primary font-semibold">professional</span
      >.
    </p>
    <p class="mt-2">
      I am always committed to a <span class="text-primary font-semibold"
        >constant growth</span
      > i
      <span class="text-primary font-semibold">improve</span> in my skills,
      trying to adapt to the new
      <span class="text-primary font-semibold">technological advances</span> and surpass myself 
      at a level
      <span class="text-primary font-semibold">professional</span> i <span
        class="text-primary font-semibold">personal</span
      >.
    </p>
  </div>
</div>
